@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #00b4c5 0%, rgb(16, 236, 199) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}