$blackColor: #141414;
$whiteColor: #ffffffd0;
$gradient: linear-gradient(180deg, #00b4c5 0%, rgb(16, 236, 199) 100%);
$colorInput: #565050;
$colorError: #d70b0b;

.template .templateAccount {
    display: flex;
    flex-direction: row;
    background: $whiteColor;
    user-select: none;
    outline: none;
    border-radius: 30px;
    padding: 24px 32px;
}

.leftProfile {
    width: 265px;
    
    .photoProfile {
        display: flex;
        position: relative;
        background: $gradient;
        border-radius: 100%;
        padding: 4px;
        height: 220px;
        width: 220px;
        cursor: pointer;
        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-color: #ffffffa3;

            .iconImgUpdateImg {
                height: 140px;
            }
        }

        .IconEditImg {
            height: 60px;
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            display: none;
            transition: 0.4s;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 100%;
            object-fit: cover;
            transition: 0.4s;
        }

        &:hover {
            img, div {
                opacity: 0.7;
            }

            .IconEditImg {
                display: flex;
            }
        }
    }
}

.rightProfile {
    width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
    user-select: none;

    .presentation {

        .userName {
            text-align: center;
            color: $blackColor;
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 0.5px solid $blackColor;
        }

        .userProfession {
            display: flex;
            justify-content: center;
            color: $blackColor;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 6px;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 16px 0px;        

        .inputGroupContact {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 8px 0px;
            padding: 2px;
            border-bottom: 1px solid #989898;
            
            label {
                justify-content: flex-start;
                font-weight: 500;
                font-size: 14px;
                margin-left: 4px;
            }

            input {
                outline: none;
                border: none;
                background: transparent;
                padding-left: 4px;
                font-size: 14px;
            }

            .editInfo {
                width: 20px;
                display: block; 
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                cursor: pointer;
                
                &:hover {
                    color: #18d81f;
                    transform: scale(1.2);

                }
            }

            .icon {
                width: 14px;
            }
            
        }

        .address {
            display: flex;
            align-items: end;
            margin-top: 4px;

            .IconMap {
                width: 16px;
                margin-right: 4px;
            }

            .textAddress {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }

    .imgUpdate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .titleImgUpdate {
            color: $blackColor;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .selectImg {
            display: flex;
            text-align: center;
            align-items: center;
            height: 100%;
            min-width: 100%;
            border: 2px dotted;
            border-radius: 10px;
            background-color: #1cff247f;
            cursor: pointer;

            p, div {
                width: 100%;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .invalidImg {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                color: $colorError;
            }

            .iconImg {
                height: 20px;
                margin-right: 6px;
            }

            .iconImgUpdateImg {
                height: 80px;
            }

            .iconInvalidImg {
                height: 60px;
                margin-bottom: 10px;
            }
        }

        .btnGroup {
            display: flex;
            justify-content: end;
            width: 100%;
            margin-top: 12px;

            button {
                height: 35px;
                width: 75px;
                margin: 0px 3px;
                border-radius: 3px;
                box-shadow: 0px 1px 2px 0px #00000040;
                text-transform: uppercase;
                font-size: 10px;
                border: none;
                outline: none;
                transition: 0.4s all;
                cursor: pointer;

                &:hover {
                    transform: scale(1.04);
                    background-color: #20e3f4;
                    color: #fff;
                }
            }
        }
    }
}