$whiteColor: #fff;
$elementsForm: #ede9e9;
$colorInput: #565050;
$colorError: #d70b0b;

.exampleContainer .templateLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 30px;
    width: 360px;
    padding: 24px 32px;
}

#titleCreateAccount {
    // text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}

#formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.inputForm {
    height: 30px;
    padding: 4px 8px;
    margin: 4px 0px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: $elementsForm;
    color: $colorInput;
}

.labelForm {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.handleForm {
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: $elementsForm;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 211, 228, 0.702);
        color: $whiteColor;
    }
}

.spanError {
    color: $colorError;
    font-size: 14px;
    font-weight: 500;
    text-transform: initial;
}

.textRegister {
    display: flex;
    width: 100%;
    margin: 12px;
    font-weight: 400;
    font-size: 14px;
}

.btnRegister {
    color: #0160c5;
    margin-left: 4px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}